.wrapper {
  background: #e8e8e8;
  box-shadow: -3px -3px 4px 1px white inset, 0px 0px 6px 0px #575757 inset;
  height: 45px;
  perspective: 1000px;
  perspective-origin: center -5em;
  width: 100%;
}

.content {
  transform: rotateY(-45deg) translateX(-35%);
  transform-style: preserve-3d;
  transition: transform 1500ms ease-in-out;
}

.show {
  transform: rotateY(45deg) translateX(35%);
}

.front,
.back {
  background: #f3f3f3;
  opacity: 1;
  position: absolute;
  transition: opacity 1500ms ease-in-out;
  width: 100%;
}

.front {
  transform: translateX(-7em) rotateY(-45deg);
}

.back {
  transform: translateX(7em) rotateY(45deg);
}

.invisible {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  cursor: auto;
  opacity: 0;
  user-select: none;
}
